.video-recorder-header-message {
    font-size: 30px;
    color: #0040C3;
    margin-bottom: 15px;
    text-align: center;
}

.start-verify-button-wrapper {
    margin: 15px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.message-wrapper {
    text-align: center;
}

.start-verify-button {
    margin: 15px auto;
    border-radius: 10px;
    cursor: pointer;
    color: #0040C3;
    border: 3px solid #0040C3;
    background-color: #b7f2fb;  
}

.video-recorder {
    border: 3px solid #0040C3;
    width: 100%;
    height: 48vh;
}

.video-recorder-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 576px) {
    .video-recorder {
        width: 100%;
        height: auto;
    }

    .video-recorder-header-message {
        font-size: 22px;
    }
}